
<div class="kolona1">
<div>
<h3>Izaberite zeljeni datum savetovanja</h3>
  <input [formControl]="dateControl" type="date"  min="2018-01-01" max="2028-12-31"  (ngModelChange)="valuechangeDate($event)"  style="width: 80%;">

  <h3>Izaberite vreme pocetka savetovanja</h3>
<input type="time" id="appt" name="appt" [formControl]="timeControl" (ngModelChange)="valuechange($event)"
       min="09:00" max="18:00" required  style="width: 80%;">

  <button (click)="prvoFiltriranje()">Search</button>


</div>
</div>

<div class="kolona2">

<div  *ngIf="pharmacyDiv">
  <H3>
   Pronadjene apoteke
  </H3>
  <div>
    
      <label>Sort by:</label>
      <form [formGroup]="sortForm" (submit) = "sortPharmacies()">
        <select formControlName="propertie">
          <option value="consultingPrice">Price</option>
          <option value="avgRate">Rating</option>
        </select>

        <select formControlName="order">
          <option value="ascending">Asceding</option>
          <option value="desceding">Desceding</option>
        </select>
        <button type="submit" [disabled]="!sortForm.valid">Submit</button>
      </form>
  </div>
  <div class="row">
        <ul>
          <li *ngFor="let pharmacy of availablePharmacies "> 
          
              <div style=" 
              width: 80%;
              padding: 0 10px 10px;">
                <div class="card">
                <div class="pharmacyIcon"></div>
                  <h3> Apoteka : {{pharmacy.name}}</h3>
                  <p>Cena savetovanja : {{pharmacy.consultingPrice}}</p>
                  <p>Adresa: {{pharmacy.address.country}} , {{pharmacy.address.city}} , {{pharmacy.address.street}}  {{pharmacy.address.number}}</p>
                  <p>Rating: {{pharmacy.avgRate}}</p>
                  <button (click)="showPharmacists(pharmacy.id)">Prikazi farmaceute</button>
                </div>
              </div>
        
        
        </li>
  
      </ul>
  </div>

</div>
</div>

<div class="kolona3">

<div *ngIf="pharmacistDiv">
  <H3>
    Slobodni farmaceuti
   </H3>

   <label>Sort by pharmacist rating:</label>
   <form [formGroup]="sortPharmacistForm" (submit) = "sortPharmacists()">


     <select formControlName="order">
       <option value="ascending">Asceding</option>
       <option value="desceding">Desceding</option>
     </select>
     <button type="submit" [disabled]="!sortPharmacistForm.valid">Submit</button>
   </form>
   <div class="row">
         <ul>
           <li *ngFor="let pharmacist of availablePharmacists "> 
           
               <div style=" 
               width: 80%;
               padding: 0 10px 10px;" >
                 <div class="card">
                   <div class="examIcon"></div>
                   <h3> Apotekar : {{pharmacist.name}}  {{pharmacist.lastname}}</h3>
                   <p>Ocena:{{pharmacist.avgRate}} </p>
                   <p></p>
                   <button (click)="makeReservation(pharmacist.id)">Zakazi pregled</button>
                 </div>
               </div>
         
         
         </li>
   
       </ul>
   </div>
</div>
</div>