


<div class="kolona1">

<H3 *ngIf="som">
  <form [formGroup]="searchForm" (submit) ="search()">
    <div class="row">
  
    <label for="name">Name</label>
    <input formControlName="name" id="name" />
  
   
    <label for="city">Type</label>
    <input formControlName="type" id="city"  />
  
  <div class="column">
    <button type="submit" >Submit</button>
  </div>
  
  </div>
  </form>
</H3>
<div class="row">
      <ul>
        <li *ngFor="let drug of drugs "> 
        
            <div  style=" 
            width: 80%;
            padding: 0 10px 10px;"
             (click)="selectedDrug(drug.id)">
              <div class="card">
                <div class="drugIcon"></div>
                <h3> Name: {{drug.name}}</h3>
                <p>Type: {{drug.type}}</p>
                <p>Specification: {{drug.specification}}</p>
              </div>
            </div>
      
      
      </li>

    </ul>
</div>
</div>
<div class="kolona2">

<h3>Drug available in pharmacies: </h3>

<div class="row">
  <ul>
    <li *ngFor="let item of items "> 
    
        <div  style=" 
        width: 80%;
        padding: 0 10px 10px;" >
          <div class="card" (click)="selectedPharmacy(item.itemId , item.pharmacyId)">
            <div class="pharmacyIcon"></div>
            <h3> Pharmacy: {{item.pharmacyName}}</h3>
            <p>Price: {{item.itemPrice}}</p>
            
          </div>
        </div>
  
  
  </li>

</ul>
</div>

</div>

<div class="kolona3">

<div  *ngIf="dateDiv">
  <h3>Pick date of collection:</h3>
  <input [formControl]="dateStringControl" type="date"  min="2018-01-01" max="2028-12-31"  (ngModelChange)="valuechange($event)">

  <button (click)="makeReservation()" [disabled]="reservation.reservedAt ==null"> Make reservation</button>
</div>

</div>