
<div style=" float: left;
width: 50%;
padding: 10px;" >

<H3>
 Double click to add to alergie list
</H3>
<div class="row">
      <ul style="overflow-y:scroll;">
        <li *ngFor="let drug of drugs "> 
        
            <div style="  width: 50%;
            padding: 0 10px 10px;" (dblclick)="selectedDrug(drug.id)">
              <div class="card">
                <div class="drugIcon"></div>
                <h3> Name: {{drug.name}}</h3>
                <p>Type: {{drug.type}}</p>
                <p>Specification: {{drug.specification}}</p>
              </div>
            </div>
      
      
      </li>

    </ul>
</div>

</div>


<div style=" float: left;
width: 50%;
padding: 10px;" >
<H3>
  I am alergic on:          (double click od drug to remove it from list)
</H3>
<div class="row">
      <ul style="overflow-y:scroll;">
        <li *ngFor="let drug of drugsAlergie "> 
        
            <div style="  width: 50%;
            padding: 0 10px 10px;" (dblclick)="removeDrug(drug.id)">
              <div class="card">
                <div class="drugIcon"></div>
                <h3> Name: {{drug.name}}</h3>
                <p>Type: {{drug.type}}</p>
                <p>Specification: {{drug.specification}}</p>
              </div>
            </div>
      
      
      </li>

    </ul>
</div>
</div>