
<div class="kolona1">
<H3>
  Drug reservations
</H3>

<div class="row">
      <ul>
        <li *ngFor="let reservation of reservations "> 
          <div style="  width: 80%;
          padding: 0 10px 10px;">
            
              <div class="card">
                <div class="drugIcon"></div>
                <h3> Reserved drug : {{reservation.item.drug.name}}</h3>
                <p> date of reservation: {{reservation.reservedAt}}</p>
                <p></p>
                <button (click)="otkazi(reservation.id)">Otkazi rezervaciju</button>
              </div>
           
          </div>
      
      </li>

    </ul>
</div>

</div>


<div class="kolona2">
<H3>
  Reserved consultings
</H3>
<div class="row">
      <ul>
        <li *ngFor="let consulting of reservedConsultings "> 
        
           <div style="  width: 80%;
           padding: 0 10px 10px;">
              <div class="card" >
                <div class="consultingIcon"></div>
                <h3> CONSULTING ID: {{consulting.id}}</h3>
                <p>  Pharmacist : {{consulting.pharmacist.name}} {{consulting.pharmacist.lastname}}</p>
                <p> Pharmacy : {{consulting.pharmacy}}</p>
                <p> Start time : {{consulting.startTime  | date:'shortTime'}}</p>
                <p> End time: {{consulting.endTime | date:'shortTime'}}</p>
                <p> Date : {{consulting.date | date}}</p>
                <p></p>
                <button (click)="cancelConsulting(consulting.id)">Otkazi savetovanje</button>
              </div>
            </div>
      
      
      </li>

    </ul>
</div>

</div>


<div class="kolona3">

<H3>
  Reserved examinations
</H3>
<div class="row">
      <ul>
        <li *ngFor="let examination of reservedExaminations "> 
        
          <div style="  width: 80%;
          padding: 0 10px 10px;">
              <div class="card">
                <div class="examIcon"></div>
                <h3> ID examination : {{examination.id}}</h3>
                <p>  Dermatologist : {{examination.dermatologist.name}} {{examination.dermatologist.lastname}}</p>
                <p> Start time: {{examination.startTime  | date:'shortTime'}}</p>
                <p> End time: {{examination.endTime | date:'shortTime'}}</p>
                <p> Date: {{examination.startTime| date}}</p>
                <p></p>
                <button (click)="cancelExamination(examination.id)">Cancel examination</button>
              </div>
          </div>
      
      
      </li>

    </ul>
</div>

</div>