<div class="kolona1">
<H3>
  list of finished consultings
</H3>
<div class="row">
      <ul>
        <li *ngFor="let consulting of finishedConsultings "> 
        
          <div style="  width: 80%;
          padding: 0 10px 10px;">
             <div class="card" >
               <div class="consultingIcon"></div>
               <h3> Consulting ID : {{consulting.id}}</h3>
               <p>  pharmacist : {{consulting.pharmacist.name}}</p>
               <p> pharmacy : {{consulting.pharmacy}}</p>
               <p> start time: {{consulting.startTime  | date:'shortTime'}}</p>
               <p> end time: {{consulting.endTime | date:'shortTime'}}</p>
               <p> date: {{consulting.date | date}}</p>
               <p></p>
              
             </div>
           </div>
      
      </li>

    </ul>
</div>

</div>

<div class="kolona2">

<H3>
  list of finished examinations
</H3>
<div class="row">
      <ul>
        <li *ngFor="let examination of finishedExaminations "> 
        
          <div style="  width: 80%;
          padding: 0 10px 10px;">
              <div class="card">
                <div class="examIcon"></div>
                <h3> ID examination : {{examination.id}}</h3>
                <p>  Dermatologist : {{examination.dermatologist.name}}</p>
                <p> start time: {{examination.startTime  | date:'shortTime'}}</p>
                <p> end time: {{examination.endTime | date:'shortTime'}}</p>
                <p> date: {{examination.startTime| date}}</p>
                <p></p>
               
              </div>
          </div>
      
      </li>

    </ul>
</div>

</div>



<div class="kolona3">

  
</div>