

<label>Sort by:</label>
<form [formGroup]="sortForm" (submit) = "sortPharmacies()">
  <select formControlName="propertie">
    <option value="name">Name</option>
    <option value="address.city">City</option>
  </select>

  <select formControlName="order">
    <option value="asceding">Asceding</option>
    <option value="desceding">Desceding</option>
  </select>
  <button type="submit">Submit</button>
</form>
<H3>
  Rezultati pretrage:
</H3>

      <ul>
        <li *ngFor="let pharmacy of pharmacies "> 
        
            <div class="column">
              <div class="card">
                <h3>Apoteka {{pharmacy.name}}</h3>
                <p>{{pharmacy.description}}</p>
                <p>Adresa: {{pharmacy.address.country}} , {{pharmacy.address.city}} , {{pharmacy.address.street}}  {{pharmacy.address.number}}</p>
                <button (click)="goToPharmacyProfile(pharmacy.id)" > pharmacy profile</button>
              </div>
            </div>
      
      
      </li>

    </ul>
